:root{
    --primary-dark: #222831;
    --secondary-dark: #393E46;

    --teal: #00ADB5;
    --teal-lighter: #0cc0ca;
    --gray: #EEEEEE;
}


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-dark);
    color: var(--gray);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--secondary-dark);
    padding: 20px;
    text-align: center;
}

a, a:hover{
    color: var(--gray);
    text-decoration: none;
}

h2{
    text-align: center;
    margin: 20px;
}

input[type="file"] {
    display: none;
  }
  
#image-label, #image-label-train{
    border: 1px solid var(--gray);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

#image-label:hover, #image-label-train:hover{
    animation: scaleImgLabel 1s ease-in-out forwards;
}

@keyframes scaleImgLabel {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


#image-form, #prediction-div {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
}

#image-form{
    align-items: center;
    gap: 1rem;
}


#img-predict{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}


img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  
@media (min-width: 600px) {
    img {
      width: 50%; /* On larger screens, image takes half the width */
    }
  }
  
@media (min-width: 1024px) {
    img {
      width: 25%; /* On even larger screens, image takes quarter width */
    }
  }

/* Training */



.training-show{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    margin: 1rem auto; 
    
}

button{
    background-color: var(--teal);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    color: var(--gray);
    margin: 10px;
}

button:hover{
    background-color: var(--teal-lighter);
}

button:disabled{
    background-color: var(--secondary-dark);
}


/* Style for text input field */
input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 5px auto;
    box-sizing: border-box;
    border: 2px solid var(--gray);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
   
}

/* Style when the input field is focused */
input[type="text"]:focus {
    border-color: var(--teal);
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

/* Style when the input field has an error */
input[type="text"].error {
    border-color: #e74c3c;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

.training-show, .index-show{
    border: 1px solid var(--gray);
    margin: 10px;
    
}



  