:root{
    --primary-dark: #222831;
    --secondary-dark: #393E46;

    --teal: #00ADB5;
    --teal-lighter: #0cc0ca;
    --gray: #EEEEEE;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-dark);
    color: var(--gray);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--secondary-dark);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
  }
  
#image-label, #image-label-train{
    border: 1px solid var(--gray);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

#image-label:hover, #image-label-train:hover{
    animation: scaleImgLabel 1s ease-in-out forwards;
}

@keyframes scaleImgLabel {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


#image-form, #prediction-div {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
}

#image-form{
    align-items: center;
    gap: 1rem;
}


#img-predict{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}


img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
@media (min-width: 600px) {
    img {
      width: 50%; /* On larger screens, image takes half the width */
    }
  }
  
@media (min-width: 1024px) {
    img {
      width: 25%; /* On even larger screens, image takes quarter width */
    }
  }

/* Training */

.training-show{
    text-align: center;
    gap: 1.2rem;
    margin: 1rem;
}

.train-images{
    background-color: var(--teal);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    color: var(--gray);
}

.train-images:hover{
    background-color: var(--teal-lighter);
}


/* Check train and index div */  

.select-pos-train {
    visibility: visible;
    display: block;
}

.select-pos-class {
    visibility: hidden;
    display: none;
}

.index-show {
    visibility: visible;
    display: block;
}

.training-show {
    visibility: hidden;
    display: none;
    margin-top: 1.5rem;
}


.select-pos-class, .select-pos-train {
    background-color: var(--teal);
    color: var(--gray);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: larger;
}

.select-pos-class:hover, .select-pos-train:hover{
    background-color: var(--teal-lighter);
}
  